{% extends 'base.html' %}
{% load static %}

{% block title %}Clock{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="container">
      <div class='col-md-5'>
        <div class="form-group">
          <label for="start_dt">start</label>
          <div class='input-group date' id='start_dt_input_group'>
            <input type='text' name='start_dt' class="form-control" id="start_dt"/>
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          </div>
          <input type="submit"/>
        </div>
      </div>
      <div class='col-md-5'>
        <div class="form-group">
          <label for="end_dt">end</label>
          <div class='input-group date' id='end_dt_input_group'>
            <input type='text' name='end_dt' class="form-control" id="end_dt"/>
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          </div>
        </div>
        <label for="comment">comment</label>
        <textarea name="comment" class="form-control"></textarea>
      </div>
    </div>
  </form>
{% endblock %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-datetimepicker.css' %}">
{% endblock %}

{% block extrajs %}
  <script src="{% static 'vendor/moment.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'clock/clock.js' %}"></script>
{% endblock %}
