{% extends 'base.html' %}
{% load static %}

{% block title %}Clock{% endblock %}

{% block content %}
  <div class="container">
    <h2>{{ now }}</h2>
    <form method="post">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">Set Clock</div>
        <div class="panel-body">

          <div class="row">
            <div class="col-md-1"></div>
            <div class='col-md-5'>
              <div class="form-group">
                <label for="start_dt">start</label>
                <div id='start_dt_input_group' class='input-group date'>
                  <input type='text' id="start_dt" name='start_dt' value="{{ start_dt }}" class="form-control"/>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>
            </div>
            <div class='col-md-5'>
              <div class="form-group">
                <label for="end_dt">end</label>
                <div id='end_dt_input_group' class='input-group date'>
                  <input type='text' id="end_dt" name='end_dt' value="{{ end_dt }}" class="form-control"/>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>

          <div class="row">
            <div class='col-md-1'></div>
            <div class='col-md-10'>
              <div class="form-group">
                <label for="comment">comment</label>
                <textarea id="comment" name="comment" class="form-control">{{ comment|default_if_none:'' }}</textarea>
              </div>
            </div>
            <div class='col-md-1'></div>
          </div>

          <div class="row">
            <div class='col-md-1'></div>
            <div class='col-md-6'>
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>

        </div>
      </div>
    </form>
    <div class="panel panel-default">
      <div class="panel-heading">Reset</div>
      <div class="panel-body">
        <div class="row">
          <div class='col-md-1'></div>
          <div class='col-md-5'>
            <button type="button" id="delete" class="btn btn-warning">clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-md-11'>
    </div>
  </div>

{% endblock %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-datetimepicker.css' %}">
{% endblock %}

{% block extrajs %}
  <script src="{% static 'jquery_ajax_csrf.js' %}"></script>
  <script src="{% static 'vendor/moment.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'clock/clock.js' %}"></script>
{% endblock %}
