{% extends 'base.html' %}
{% load tz %}

{% block title %}Health{% endblock %}

{% block content %}
  <dl  class="dl-horizontal">
    <dt>Username</dt>
    <dd>{{ user.username }}</dd>
    {% get_current_timezone as TIME_ZONE %}
    <dt>Current Time Zone</dt>
    <dd>{{ TIME_ZONE }}</dd>
    {% timezone "Europe/Berlin" %}
      <dt>Berlin time</dt>
      <dd>{{ now }}</dd>
    {% endtimezone %}
    {% timezone None %}
      <dt>Server time</dt>
      <dd>{{ now }}</dd>
    {% endtimezone %}
  </dl>
{% endblock %}
