{% load i18n bootstrap3 %}
{# https://github.com/django/django/blob/master/django/contrib/admin/templates/admin/base.html #}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}FIXME extend title block{% endblock %}</title>
  {% block css %}
    {% bootstrap_css %}
    {% block extracss %}{% endblock %}
  {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block js %}
  {% bootstrap_javascript jquery=True %}
  {% bootstrap_messages %}
  {% block extrajs %}{% endblock %}
{% endblock %}
</body>
</html>
